<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="col-md-4 col-lg-offset-4">
  <form action="/admin/update/<%= admin.id %>" method="post" enctype="multipart/form-data">
    <table class="table table-striped">
      <tr>
        <th colspan="2" class="text-center">UPDATE ADMIN</th>
      </tr>
      <tr>
        <td>Username</td>
        <td>
          <input type="text" class="form-control" name="username" value="<%= admin.username %>" disabled="disabled">
        </td>
      </tr>
      <tr>
        <td>Password</td>
        <td>
          <input type="password" class="form-control" name="password">
        </td>
      </tr>
      <tr>
        <td>Fullname</td>
        <td>
          <input type="text" class="form-control" name="fullname" value="<%= admin.fullname %>" required>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <img src="/images/avatars/<%= admin.avatar %>" alt="" width="50%">
        </td>
      </tr>
      <tr>
        <td>Avatar</td>
        <td>
          <input type="file" class="form-control" name="avatar">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" class="form-control btn-primary" name="submit" value="UPDATE">
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="col-md-3"></div>
</body>

</html>
